
</div>
<div class="footer-padding"></div>
  <div class="footer" style="background-color: #0a192f;">
    <a href="https://www.instagram.com/rohit_k613/"><i class="sco_icon fa-brands fa-instagram fa-2x mx-2"></i></a>
    <a href="#"><i class="sco_icon fa-brands fa-twitter fa-2x mx-2"></i></a>
    <a href="https://www.facebook.com/profile.php?id=100072074053682"><i class="sco_icon fa-brands fa-facebook-f fa-2x mx-2"></i></a>
    <a href="https://github.com/rohit21755"><i class="sco_icon fa-brands fa-github fa-2x mx-2"></i></a>
    <hr class="f_line">
    <p style="color: #ccd6f6;">Made with ❤️ by Rohit</p>
  </div>
</div>
<script src="https://kit.fontawesome.com/2ea2c0bcc7.js" crossorigin="anonymous"></script>
</body>
</html>
